/*----- consol start ------*/

.header{
	background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
	margin-top: 0px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 10%;
	min-width: 600px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	align-items: center;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 3px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}

img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
.main{
	padding: 2rem 0;
}
/*----- consol end ------*/
