*{
	padding: 0;
	margin: 0;
}
.cntr{
	align-items: center;
}
h1{
	border-radius: 15px;
	width: 1519px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: lightgray;	

}
table{
	position: absolute;
	left: 39%;
	top: 40%;
	transform: translate(-50%,-10%);
	border-collapse: collapse;
	width: 70%;
	border: 1px;
	text-align: center;
}
tr{
	transition: all .2s ease-in;
	cursor: pointer;
}
td button{
	display: inline-block;
	background: white;
	border-color: red;
	color: red;
	padding: 6px 8px;
	margin: 3px 0;
	border-radius: 5px;
	transition: background 0.5s;
	cursor: pointer;
}
td button:hover{
	background: red;
	color: #fff;
}

td input{
	text-align: center;
}
th,td{
	padding: 15px;
	border-bottom: 1px solid #ddd;
}
thead th{
	position: sticky;
	top: 0;
	z-index: 6;
}
th{
	position: sticky;
}
.lg{
	position: absolute;
	left: 88%;
	top: 40%;
	transform: translate(-50%,-10%);
	border: 1px;
	background-color: lightgray;
	width: 15%;
	height: 23%;
	border-radius: 5px;

}

button{
	background: blue;
	color: white;
	padding: 8px 50px;
	margin: 9px 0;
	border-radius: 5px;
	transition: background 0.5s;
	cursor: pointer;
}








/*media query*/
@media only screen and (max-width: 768px;){
	table{
		width: 90%;
	}
}